body {
		color:red;
		background-image: url("img/destiny2forsaken.jpg"); 
	}

	.imgprofiel {
		float: none;
		border: 2px solid black;
	}



body {
	    color:red;
		background-image: url("img/warframe.jpg");
	}

	.imgopleiding {
		float: right;
		border: 2px solid black;
	}	



body {
	    color:white;
		background-image: url("img/dagames.png");
	}

	.imgvooropleiding {
		float: right;
		border: 2px solid black;
	}